body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-text {
  padding-bottom: 2vh;
}
.score-card {
  height: 35vh;
  width: 35vh;
  margin: auto;
  background: black;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 50, 0.815), 0 6px 20px 0 rgba(0, 0, 244, 0.19);
  
}


  .practice {
    display:flex;
    width: 90vw;
    height: 80vh;
    position: fixed;
    top: -14vh;
    left: 10vh;
    opacity: .9999;
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #010e58 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #010e58 0%,#596a72 100%);
    background: linear-gradient(45deg,  #010e58 0%,#596a72 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.815), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress {
  height: 35vh;
  margin: auto;
  padding: 3vh;
}
/* ------------------------Experimental Practice------------------- */

.practiceF{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
          perspective: 1000px;
  
}

.Pfront,
.Pback{
  
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	
}

.Pback{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.Pfront:after{
	position: fixed;
    top: 0;  /* 0 here and below */
    left: 0;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.practiceFH .Pfront,        /*  these were both hover .CONTAINER:HOVER*/
.practiceFH .Pback{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    top: 11vh;
}


.Pinner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
}

.practiceF .Pback{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.practiceF .Pfront{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.practiceFH .Pback{             /*  FLIP HOVER */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.practiceFH .Pfront{          /*   FLIP HOVER */
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* .Pfront .Pinner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
} */

/* .front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
} */

/* .front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
} */



/* ------------------Flash Card Styles-------------------- */





.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
          perspective: 1000px;
  width: 60vw;
  margin: auto;
  margin-right: 0;
  z-index: 5;
      
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
  border-radius: 10px;
	color: #fff;
  font-size: 1.5rem;
  height: 35vw;
  width: 60vw;

}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;

}
.container:hover .front,        /*  these were both hover .CONTAINER:HOVER*/
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{             /*  FLIP HOVER */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{          /*   FLIP HOVER */
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* -----------------------Flash Card Styles------------------ */


/* -------------------------Expirimental style------------------------ */




/* ----------------------------Flash Buttons-------------------------------------- */

.flash-buttons{
  position: absolute;
  margin: auto;
  width: 100%;
  bottom:0;
  display: flex;
  
}

.Fbutton {
  position: relative;
  color: rgba(26, 23, 151, 0.733);
  font-size: 16px;
  text-decoration-style: none;

  padding: 0.5em 1.5em;
  margin: 0.5em;

  cursor: pointer;
  width: 31%;
  height: 40px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  outline: 0;
}

div.Fbutton {
line-height: 20px;
height: 25px;
width: 31%;
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
}

.glass3 {
  transition: all 0.1s ease-in-out;
  border-color: rgba(255, 255, 255, 0.6);
  border-image: none;
  border-style: double;
  border-width: 1px;
}

.glass3ref {
    position: relative;
    top: -73px;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background: linear-gradient(
     172deg,
     rgba(255,255,255,0.8) 0%,
     rgba(255,255,255,0.4) 20%,
     rgba(255,255,255,0.1) 48%,
     rgba(255,255,255,0.0) 49%,
     rgba(255,255,255,0.0) 100%
    );
  z-index: 1;
}

.glass3:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 2%;
  width: 96%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.75) 15%,
    rgba(0,0,0,0.9) 50%,
    rgba(0,0,0,0.75) 85%,
    rgba(0,0,0,0) 100%
  );
  z-index: 1;
}

.glass3:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 2%;
  width: 96%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.5) 5%,
    rgba(0,0,0,0.9) 50%,
    rgba(0,0,0,0.5) 95%,
    rgba(0,0,0,0) 100%
  );
  z-index: 1;
}

div.glass3hi:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 10%;
  width: 36px;
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.99) 50%,
    rgba(255,255,255,0) 100%
  );
  z-index: 1;
}

div.glass3hi:after {
  position: absolute;
  content: "";
  top: -2px;
  left: calc(10% + 16px);
  width: 4px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 0 8px 3px rgba(255,255,255,0.99);
  z-index: 1;
}

.clear {
  
}

.glass3hover {
  position: relative;
  top: -30px;
  left: -1px;
  width: 99.5%;
  height: 41px;
  line-height: 40px;
  border-radius: 6px;
  color: #000;
  background: radial-gradient(
    ellipse at center,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%
  ); /* W3C */
  opacity: 0.0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 0 6px 3px rgba(255,255,255,0.5);
  border: 2px groove rgba(255,255,255,0.5);
}

div:hover.glass3hover {
  opacity: 1.0;
}

